/* Print Stylesheet */

@media print {
    
    body {
        /* serif font for easier reading */
        font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
        /* increase font size */
        font-size: 1.25em;
    }

    p {
        widows: 0;
        orphans: 0;
    }

    /* printer anchor links */
    a[href]::after {
        content: " " attr(href); 
    }

    .image {
        width: 50%;
        height: 50%;
    }

    @page {
        /* reset page margins */
        margin: .25in;
    }

}