/* diagnostic styling */
/* * {
    outline: 1px dotted gray;
} */

body {
    font-family: 'Plein-Regular';
    background: darkblue;
    color: #EED064
}

/* layout */
.card-layout {
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* title */
h1 {
    display: block;
    text-align: center;
}

section {
    position: relative;
}

/* card title */
.card-title {
    position: absolute;
    text-align: center;
    top: 12px;
}

#ux-title {
    left: 60px;
}

#three-d-title {
    left: 60px;
}

#game-design-title {
    left: 50px;
}

/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.back {
    background: #0F3B3D;
    /* flip it default   */
    transform: rotateY(180deg);
}

.image {
    width: 100%;
    height: 100%;
    opacity: 70%;
}

/* card title */
h2 {
    font-size: 24px;
    color: #EED064;
    padding-left: 15px;
}

/* information */
p {
    font-size: 18px;
    color: #EED064;
    padding-left: 15px;
    padding-right: 18px;
    widows: 0;
    orphans: 0;
}

.salary {
    font-weight: 700;
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em){ 

    .card-layout-mobile {
        display: block;
        position: relative;
        left: 50%;
        right: 50%;
        margin-top: 700px;
    }
    
}